/* leonardo */
/* leonardo */
.navbar-default {
  background-color: transparent;
  border: none;
  font-family: "Open Sans", sans-serif; }

.navbar {
  background-color: transparent; }

/* leonardo */
footer {
  font-family: "Open Sans", sans-serif;
  background-color: #2d2d2d;
  height: 50px;
  font-size: 12px;
  color: white; }
  footer .navbar-brand a {
    font-weight: bold; }
    footer .navbar-brand a:hover {
      color: white; }

#sec_footer {
  background-color: #313131;
  height: 300px; }
  #sec_footer h1 {
    margin-top: 50px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
  #sec_footer .logo-footer {
    margin-top: 50px;
    padding-bottom: 20px; }
  #sec_footer a {
    border: 1px solid #747373;
    border-radius: 19px;
    padding: 10px 20px;
    color: #747373;
    text-decoration: none; }
    #sec_footer a:hover {
      background-color: #31AAE2;
      border: none;
      color: white;
      font-weight: bold;
      text-decoration: none; }
  #sec_footer p {
    color: #747373;
    padding: 10px;
    font-size: 14px; }
  #sec_footer span {
    background-color: #4A4A4A;
    border-radius: 100%;
    color: #6b6b6b;
    display: inline-block;
    font-size: 25px;
    height: 50px;
    margin: 0px 10px;
    padding: 10px;
    width: 50px; }
    #sec_footer span:hover {
      background-color: #31AAE2;
      color: white; }

/* leonardo */
textarea {
  resize: none; }

body {
  background: #F9F9F9; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 0px 20px; }

p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: grey;
  padding: 0px 20px; }

.media {
  margin-left: 20px; }

.post {
  background: white; }

.breadcrumb-read {
  padding: 8px 0px;
  margin-left: 20px;
  margin-bottom: 20px;
  list-style: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Open Sans", sans-serif; }

.imagen {
  height: 368px;
  background: black; }

.galeria_post_izq img {
  height: 170px;
  width: 170px;
  background: black;
  margin: 40px 20px; }
  .galeria_post_izq img:hover {
    background: #31aae2; }

.cita {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: black;
  padding: 0px; }

.panel-body {
  padding-bottom: 5px; }

.posted_by {
  margin: 0px 25px 20px 25px;
  background-color: #F9F9F9;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .posted_by span {
    display: inline-block;
    vertical-align: middle;
    color: white;
    height: 30px;
    width: 30px;
    background: #dadada;
    font-size: 20px;
    padding: 0px 6px; }
  .posted_by h5 {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: #dadada;
    display: inline-block;
    text-transform: uppercase; }
  .posted_by p {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: #31aae2;
    display: inline-block;
    text-transform: uppercase;
    padding: 0px; }
  .posted_by .opciones_post {
    float: right; }
    .posted_by .opciones_post ul li {
      display: inline-block;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: white;
      background-color: #dadada;
      padding: 5px 10px; }
      .posted_by .opciones_post ul li:hover {
        background-color: #31aae2; }
      .posted_by .opciones_post ul li a {
        text-decoration: none;
        color: white; }

#comments h1 {
  padding: 0px;
  margin: 50px 0px 20px 0px; }
#comments .comments {
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  #comments .comments span {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background: #dadada; }
  #comments .comments .comentario {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    padding: 0px 10px; }
    #comments .comments .comentario .quien h5 {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: #31aae2;
      font-weight: bold;
      display: inline-block; }
    #comments .comments .comentario .quien p {
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      color: #dadada;
      display: inline-block;
      padding: 0px 10px; }
    #comments .comments .comentario p {
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      color: black;
      display: inline-block;
      padding: 0px; }
  #comments .comments .opciones_post_btn {
    display: inline-block;
    vertical-align: top;
    font-family: "Open Sans", sans-serif;
    border: 2px solid #dadada;
    padding: 5px 10px; }
    #comments .comments .opciones_post_btn a {
      text-decoration: none;
      color: #dadada; }
      #comments .comments .opciones_post_btn a:hover {
        text-decoration: none;
        color: white; }
    #comments .comments .opciones_post_btn:hover {
      color: white;
      background-color: #dadada;
      border: none; }
      #comments .comments .opciones_post_btn:hover a {
        color: white; }

#form_post h1 {
  padding: 0px;
  margin: 50px 0px 20px 0px; }
#form_post .formulario-post {
  border-radius: 0px;
  border: 1px solid #dadada; }
#form_post .nombre_form {
  padding-left: 0px;
  padding-right: 15px; }
#form_post .web_form {
  padding-left: 15px;
  padding-right: 0px; }
#form_post textarea {
  height: 200px;
  margin: 25px 0px;
  width: 100%; }
#form_post button {
  background: #31aae2;
  margin: 25px 0px 100px 0px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 15px 0px;
  font-weight: bold; }

#column-der h4 {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: bold;
  text-transform: uppercase; }
#column-der .contadores {
  padding: 3px 4px;
  font-size: 12px;
  line-height: 1;
  color: #31aae2;
  background-color: transparent;
  border-radius: 6px;
  border-top: none;
  border-bottom: none;
  border-left: 3px solid #31aae2;
  border-right: 3px solid #31aae2;
  margin-left: 10px; }
#column-der .categorias ul li {
  font-family: "Open Sans", sans-serif;
  padding: 5px; }
  #column-der .categorias ul li:hover {
    color: #31aae2; }
  #column-der .categorias ul li a {
    color: black; }
    #column-der .categorias ul li a:hover {
      color: black;
      text-decoration: none; }
#column-der #social {
  margin-top: 30px; }
  #column-der #social h4 {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: black;
    text-transform: uppercase;
    margin-bottom: 15px; }
  #column-der #social i {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: white;
    margin-left: 10px; }
  #column-der #social .rss {
    background-color: #ffa801;
    height: 28px;
    width: 130px;
    margin: 10px 0px;
    padding: 5px 5px;
    color: white; }
  #column-der #social .fb {
    background-color: #3b59a1;
    height: 28px;
    width: 130px;
    margin: 10px 0px;
    padding: 5px 5px;
    color: white; }
  #column-der #social .dribbble {
    background-color: #ea367e;
    height: 28px;
    width: 130px;
    margin: 10px 0px;
    padding: 5px 5px;
    color: white; }
  #column-der #social .tw {
    background-color: #31aae2;
    height: 28px;
    width: 130px;
    margin: 10px 0px;
    padding: 5px 5px;
    color: white; }
  #column-der #social .pint {
    background-color: #6c9e32;
    height: 28px;
    width: 130px;
    margin: 10px 0px;
    padding: 5px 5px;
    color: white; }
  #column-der #social .plus {
    background-color: #dd4c39;
    height: 28px;
    width: 130px;
    margin: 10px 0px;
    padding: 5px 5px;
    color: white; }
#column-der #galeria-der {
  margin-top: 30px; }
  #column-der #galeria-der .titulo-seccion {
    display: inline-block;
    vertical-align: middle; }
  #column-der #galeria-der .recent-work {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: bold;
    text-transform: uppercase; }
  #column-der #galeria-der .botones-work {
    vertical-align: middle;
    display: inline-block;
    float: right; }
    #column-der #galeria-der .botones-work span {
      height: 30px;
      width: 30px;
      color: white;
      background: #dadada;
      padding: 8px 10px; }
      #column-der #galeria-der .botones-work span:hover {
        background-color: #31aae2; }
  #column-der #galeria-der .img-der {
    width: 80px;
    height: 80px;
    background-color: #4a4a4a;
    margin: 2px 2px; }
#column-der #recent-post {
  margin-top: 30px; }
  #column-der #recent-post h4 {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: black;
    text-transform: uppercase;
    margin-bottom: 15px; }
  #column-der #recent-post .reciente {
    background: transparent;
    border: none;
    border-bottom: 1px solid #DDD;
    border-radius: 0px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 0px; }
    #column-der #recent-post .reciente .panel-body {
      padding: 10px 0px; }
  #column-der #recent-post .usuario {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #4a4a4a;
    vertical-align: middle; }
  #column-der #recent-post .comentario-der {
    width: 79%;
    display: inline-block;
    vertical-align: middle; }
    #column-der #recent-post .comentario-der p {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: #d2d2d2;
      padding: 0px;
      margin-left: 10px;
      margin-bottom: 0px; }
    #column-der #recent-post .comentario-der span {
      font-size: 10px;
      font-family: "Open Sans", sans-serif;
      color: #31aae2;
      margin-left: 10px;
      display: inline-block; }
#column-der #quick-contact {
  margin-top: 30px; }
  #column-der #quick-contact h4 {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: black;
    text-transform: uppercase;
    margin-bottom: 15px; }
  #column-der #quick-contact .elemento_form {
    border-radius: 0px;
    border: 1px solid #DADADA;
    margin: 10px 0px; }
  #column-der #quick-contact .btn-default {
    background-color: #31aae2;
    border: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase; }
#column-der #popular-tags {
  margin-top: 30px; }
  #column-der #popular-tags h4 {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: black;
    text-transform: uppercase; }
  #column-der #popular-tags span {
    background: #DADADA;
    display: inline-block;
    padding: 5px 10px;
    margin: 3px 3px; }
    #column-der #popular-tags span a {
      color: white;
      text-decoration: none; }
      #column-der #popular-tags span a:hover {
        color: white;
        text-decoration: none; }
    #column-der #popular-tags span:hover {
      background: #31aae2; }

/*# sourceMappingURL=blog_read.css.map */
