/* leonardo */
/* leonardo */
/* leonardo */
/* leonardo */
header {
  background-color: #eee; }
  header nav ul li a {
    height: 41px;
    padding: 0px; }
    header nav ul li a:hover {
      border: 2px solid black; }

.navbar-default {
  background-color: transparent;
  border: none;
  font-family: "Open Sans", sans-serif; }

.navbar {
  background-color: transparent;
  padding: 15px 0px; }

.navbar-brand {
  padding: 5px 0px; }

#titulo-seccion {
  margin-bottom: 100px; }
  #titulo-seccion .jumbotron {
    font-family: "Open Sans", sans-serif; }

/* leonardo */
footer {
  font-family: "Open Sans", sans-serif;
  background-color: #2d2d2d;
  height: 50px;
  font-size: 12px;
  color: white; }
  footer .navbar-brand a {
    font-weight: bold; }
    footer .navbar-brand a:hover {
      color: white; }

#sec_footer {
  background-color: #313131;
  height: 300px; }
  #sec_footer h1 {
    margin-top: 50px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
  #sec_footer .logo-footer {
    margin-top: 50px;
    padding-bottom: 20px; }
  #sec_footer a {
    border: 1px solid #747373;
    border-radius: 19px;
    padding: 10px 20px;
    color: #747373;
    text-decoration: none; }
    #sec_footer a:hover {
      background-color: #31AAE2;
      border: none;
      color: white;
      font-weight: bold;
      text-decoration: none; }
  #sec_footer p {
    color: #747373;
    padding: 10px;
    font-size: 14px; }
  #sec_footer span {
    background-color: #4A4A4A;
    border-radius: 100%;
    color: #6b6b6b;
    display: inline-block;
    font-size: 25px;
    height: 50px;
    margin: 0px 10px;
    padding: 10px;
    width: 50px; }
    #sec_footer span:hover {
      background-color: #31AAE2;
      color: white; }

/* leonardo */
textarea {
  resize: none; }

body {
  background: #F9F9F9; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 0px 20px; }

p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: grey;
  padding: 0px 20px; }

.media {
  margin-left: 20px; }

.post {
  background: white; }

.breadcrumb-read {
  padding: 8px 0px;
  margin-left: 20px;
  margin-bottom: 20px;
  list-style: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Open Sans", sans-serif; }

.imagen {
  height: 368px;
  background: black; }

#amazing {
  margin-bottom: 50px; }
  #amazing a {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: white;
    margin-left: 20px;
    background: #dadada;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 50px; }
    #amazing a:hover {
      background: #31aae2;
      color: white;
      text-decoration: none; }

#creative {
  margin-bottom: 50px; }
  #creative a {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: white;
    margin-left: 20px;
    background: #dadada;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 50px; }
    #creative a:hover {
      background: #31aae2;
      color: white;
      text-decoration: none; }

#creative-carrousel1 {
  margin-bottom: 50px; }
  #creative-carrousel1 a {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: white;
    margin-left: 20px;
    background: #dadada;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 50px; }
    #creative-carrousel1 a:hover {
      background: #31aae2;
      color: white;
      text-decoration: none; }
  #creative-carrousel1 .active {
    background: #31aae2; }

#creative-carrousel2 {
  margin-bottom: 50px; }
  #creative-carrousel2 #carousel-left a, #creative-carrousel2 #carousel-right a {
    display: inline-block;
    background: transparent; }
    #creative-carrousel2 #carousel-left a span, #creative-carrousel2 #carousel-right a span {
      border: 1px solid grey;
      height: 60px;
      width: 60px;
      border-radius: 60px;
      padding-top: 10px;
      vertical-align: middle; }
      #creative-carrousel2 #carousel-left a span:hover, #creative-carrousel2 #carousel-right a span:hover {
        background: #31aae2;
        color: white; }
  #creative-carrousel2 a {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: white;
    margin-left: 20px;
    background: #dadada;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 50px; }
    #creative-carrousel2 a:hover {
      background: #31aae2;
      color: white;
      text-decoration: none; }

#cita {
  margin-bottom: 30px; }
  #cita .media {
    padding: 20px 0px; }
  #cita .cita {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: black;
    padding: 0px 30px; }
  #cita .media-footer p {
    margin-left: 50px;
    color: #31aae2; }
    #cita .media-footer p:before {
      content: "";
      display: inline-block;
      height: 2px;
      width: 15px;
      background: #31aae2;
      position: relative;
      top: -3px;
      margin: auto;
      margin-right: 5px; }

#pag div {
  margin-bottom: 30px; }
#pag span {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid #DADADA;
  margin: 0px 5px;
  padding-top: 10px; }
  #pag span:hover {
    background: #31aae2;
    border: none; }
  #pag span a {
    color: #DADADA; }
    #pag span a:hover {
      color: white;
      background-color: #31aae2;
      text-decoration: none; }

#column-der h4 {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: bold;
  text-transform: uppercase; }
#column-der .contadores {
  padding: 3px 4px;
  font-size: 12px;
  line-height: 1;
  color: #31aae2;
  background-color: transparent;
  border-radius: 6px;
  border-top: none;
  border-bottom: none;
  border-left: 3px solid #31aae2;
  border-right: 3px solid #31aae2;
  margin-left: 10px; }
#column-der .categorias ul li {
  font-family: "Open Sans", sans-serif;
  padding: 5px; }
  #column-der .categorias ul li:hover {
    color: #31aae2; }
  #column-der .categorias ul li a {
    color: black; }
    #column-der .categorias ul li a:hover {
      color: black;
      text-decoration: none; }
#column-der #social {
  margin-top: 30px; }
  #column-der #social h4 {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: black;
    text-transform: uppercase;
    margin-bottom: 15px; }
  #column-der #social i {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: white;
    margin-left: 10px; }
  #column-der #social .rss {
    background-color: #ffa801;
    height: 28px;
    width: 130px;
    margin: 10px 0px;
    padding: 5px 5px;
    color: white; }
  #column-der #social .fb {
    background-color: #3b59a1;
    height: 28px;
    width: 130px;
    margin: 10px 0px;
    padding: 5px 5px;
    color: white; }
  #column-der #social .dribbble {
    background-color: #ea367e;
    height: 28px;
    width: 130px;
    margin: 10px 0px;
    padding: 5px 5px;
    color: white; }
  #column-der #social .tw {
    background-color: #31aae2;
    height: 28px;
    width: 130px;
    margin: 10px 0px;
    padding: 5px 5px;
    color: white; }
  #column-der #social .pint {
    background-color: #6c9e32;
    height: 28px;
    width: 130px;
    margin: 10px 0px;
    padding: 5px 5px;
    color: white; }
  #column-der #social .plus {
    background-color: #dd4c39;
    height: 28px;
    width: 130px;
    margin: 10px 0px;
    padding: 5px 5px;
    color: white; }
#column-der #galeria-der {
  margin-top: 30px; }
  #column-der #galeria-der .titulo-seccion {
    display: inline-block;
    vertical-align: middle; }
  #column-der #galeria-der .recent-work {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: bold;
    text-transform: uppercase; }
  #column-der #galeria-der .botones-work {
    vertical-align: middle;
    display: inline-block;
    float: right; }
    #column-der #galeria-der .botones-work span {
      height: 30px;
      width: 30px;
      color: white;
      background: #dadada;
      padding: 8px 10px; }
      #column-der #galeria-der .botones-work span:hover {
        background-color: #31aae2; }
  #column-der #galeria-der .img-der {
    width: 80px;
    height: 80px;
    background-color: #4a4a4a;
    margin: 2px 2px; }
#column-der #recent-post {
  margin-top: 30px; }
  #column-der #recent-post h4 {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: black;
    text-transform: uppercase;
    margin-bottom: 15px; }
  #column-der #recent-post .reciente {
    background: transparent;
    border: none;
    border-bottom: 1px solid #DDD;
    border-radius: 0px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 0px; }
    #column-der #recent-post .reciente .panel-body {
      padding: 10px 0px; }
  #column-der #recent-post .usuario {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #4a4a4a;
    vertical-align: middle; }
  #column-der #recent-post .comentario-der {
    width: 79%;
    display: inline-block;
    vertical-align: middle; }
    #column-der #recent-post .comentario-der p {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: #d2d2d2;
      padding: 0px;
      margin-left: 10px;
      margin-bottom: 0px; }
    #column-der #recent-post .comentario-der span {
      font-size: 10px;
      font-family: "Open Sans", sans-serif;
      color: #31aae2;
      margin-left: 10px;
      display: inline-block; }
#column-der #quick-contact {
  margin-top: 30px; }
  #column-der #quick-contact h4 {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: black;
    text-transform: uppercase;
    margin-bottom: 15px; }
  #column-der #quick-contact .elemento_form {
    border-radius: 0px;
    border: 1px solid #DADADA;
    margin: 10px 0px; }
  #column-der #quick-contact .btn-default {
    background-color: #31aae2;
    border: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase; }
#column-der #popular-tags {
  margin-top: 30px; }
  #column-der #popular-tags h4 {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: black;
    text-transform: uppercase; }
  #column-der #popular-tags span {
    background: #DADADA;
    display: inline-block;
    padding: 5px 10px;
    margin: 3px 3px; }
    #column-der #popular-tags span a {
      color: white;
      text-decoration: none; }
      #column-der #popular-tags span a:hover {
        color: white;
        text-decoration: none; }
    #column-der #popular-tags span:hover {
      background: #31aae2; }

/*# sourceMappingURL=blog_post.css.map */
