/* leonardo */
/* leonardo */
.navbar-default {
  background-color: transparent;
  border: none;
  font-family: "Open Sans", sans-serif; }

.navbar {
  background-color: transparent; }

/* leonardo */
footer {
  font-family: "Open Sans", sans-serif;
  background-color: #2d2d2d;
  height: 50px;
  font-size: 12px;
  color: white; }
  footer .navbar-brand a {
    font-weight: bold; }
    footer .navbar-brand a:hover {
      color: white; }

#sec_footer {
  background-color: #313131;
  height: 300px; }
  #sec_footer h1 {
    margin-top: 50px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
  #sec_footer .logo-footer {
    margin-top: 50px;
    padding-bottom: 20px; }
  #sec_footer a {
    border: 1px solid #747373;
    border-radius: 19px;
    padding: 10px 20px;
    color: #747373;
    text-decoration: none; }
    #sec_footer a:hover {
      background-color: #31AAE2;
      border: none;
      color: white;
      font-weight: bold;
      text-decoration: none; }
  #sec_footer p {
    color: #747373;
    padding: 10px;
    font-size: 14px; }
  #sec_footer span {
    background-color: #4A4A4A;
    border-radius: 100%;
    color: #6b6b6b;
    display: inline-block;
    font-size: 25px;
    height: 50px;
    margin: 0px 10px;
    padding: 10px;
    width: 50px; }
    #sec_footer span:hover {
      background-color: #31AAE2;
      color: white; }

/* leonardo */
body {
  background: #F9F9F9; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 0px 20px; }

p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: grey;
  padding: 0px 20px; }

.media {
  margin-left: 20px; }

.post {
  background: white; }

.breadcrumb-read {
  padding: 8px 0px;
  margin-left: 20px;
  margin-bottom: 20px;
  list-style: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Open Sans", sans-serif; }

.imagen {
  height: 368px;
  background: black; }

.galeria_post_izq img {
  height: 170px;
  width: 170px;
  background: black;
  margin: 40px 20px; }
  .galeria_post_izq img:hover {
    background: #31aae2; }

.cita {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: black;
  padding: 0px; }

.panel-body {
  padding-bottom: 5px; }

.posted_by {
  margin: 0px 25px 20px 25px;
  background-color: #F9F9F9;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .posted_by span {
    display: inline-block;
    vertical-align: middle;
    color: white;
    height: 30px;
    width: 30px;
    background: #dadada;
    font-size: 20px;
    padding: 0px 6px; }
  .posted_by h5 {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: #dadada;
    display: inline-block;
    text-transform: uppercase; }
  .posted_by p {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: #31aae2;
    display: inline-block;
    text-transform: uppercase;
    padding: 0px; }
  .posted_by .opciones_post {
    float: right; }
    .posted_by .opciones_post ul li {
      display: inline-block;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: white;
      background-color: #dadada;
      padding: 5px 10px; }
      .posted_by .opciones_post ul li:hover {
        background-color: #31aae2; }
      .posted_by .opciones_post ul li a {
        text-decoration: none;
        color: white; }

#comments h1 {
  padding: 0px; }
#comments .comments {
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  #comments .comments span {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background: #dadada; }
  #comments .comments .comentario {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    padding: 0px 10px; }
    #comments .comments .comentario .quien h5 {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: #31aae2;
      font-weight: bold;
      display: inline-block; }
    #comments .comments .comentario .quien p {
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      color: #dadada;
      display: inline-block;
      padding: 0px 10px; }
    #comments .comments .comentario p {
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      color: black;
      display: inline-block;
      padding: 0px; }
  #comments .comments .opciones_post_btn {
    display: inline-block;
    vertical-align: top;
    font-family: "Open Sans", sans-serif;
    border: 2px solid #dadada;
    padding: 5px 10px; }
    #comments .comments .opciones_post_btn a {
      text-decoration: none;
      color: #dadada; }
      #comments .comments .opciones_post_btn a:hover {
        text-decoration: none;
        color: white; }
    #comments .comments .opciones_post_btn:hover {
      color: white;
      background-color: #dadada;
      border: none; }

/*# sourceMappingURL=blog_read.css.map */
