/* leonardo */

footer{
	font-family: $fuente-principal;
	background-color: $background-footer-nav;
	height: 50px;
	font-size: 12px;
	color: white;
	.navbar-brand{
		a{
			font-weight: bold;
			&:hover{
				color: white;
			}			
		}
	}
}

#sec_footer{
	h1{
		margin-top: 50px;
		color: white;
		font-family: $fuente-principal;
		font-size: 14px;
	}
	.logo-footer{
		margin-top: 50px;
		padding-bottom: 20px;
	}
	background-color: $background-footer-section;
	height: 300px;
	a{
		border: 1px solid $parrafo-color-footer;
		border-radius: 19px;
		padding: 10px 20px;
		color: $parrafo-color-footer;
		text-decoration: none;
		&:hover{
			background-color: #31AAE2;
			border: none;
			color: white;
			font-weight: bold;
			text-decoration: none;
		}
	}
	p{
		color: $parrafo-color-footer;
		padding: 10px;
		font-size: 14px;
	}
	span{
		background-color: #4A4A4A;
		border-radius: 100%;
		color: #6b6b6b;
		display: inline-block;
		font-size: 25px;
		height: 50px;
		margin: 0px 10px;
		padding: 10px;
		width: 50px;
		&:hover{
			background-color: #31AAE2;
			color: white;
		}
	}
}



/* leonardo */