$color-header: #F6F5F0;
$fuente-principal: 'Open Sans', sans-serif;

/* leonardo */

$background-footer-nav: #2d2d2d;
$background-footer-section: #313131;
$parrafo-color-footer: #747373;
$backcolor-hover: #31aae2;

/* leonardo */