@import "variables";
@import "header";
@import "footer";


@mixin parrafo($size, $color){
	font-size: $size;
	font-family: $fuente-principal;
	color: $color;

}

@mixin btn-post-read{
	@include parrafo(12px, white);
	margin-left: 20px;
	background: #dadada;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 50px;
	&:hover{
		background: $backcolor-hover;
		color: white;
		text-decoration: none;
	}	
}

textarea{
	resize: none;
}

body{
	background: #F9F9F9;
}

h1{
	font-family: $fuente-principal;
	font-size: 18px;
	padding: 0px 20px;
}

p{
	@include parrafo(14px, grey);
	padding: 0px 20px;
}

// COLUMNA IZQUIERDA //
.media{
	margin-left: 20px;
}

.post{
	background: white;
}

.breadcrumb-read {
    padding: 8px 0px;
	margin-left: 20px;    
    margin-bottom: 20px;
    list-style: none;
    background: transparent;
    text-transform: uppercase;
    font-size: 12px;
    font-family: $fuente-principal;
}

.imagen{
	height: 368px;
	background: black;
}


#amazing{
	margin-bottom: 50px;
	a{@include btn-post-read;}
}

#creative{
	margin-bottom: 50px;
	a{@include btn-post-read;}
}

#creative-carrousel1{
	margin-bottom: 50px;
	a{@include btn-post-read;}
	.active{
		background: $backcolor-hover;
	}
}

#creative-carrousel2{
	margin-bottom: 50px;
	#carousel-left, #carousel-right{
		a{
			display: inline-block;
			background: transparent;
			span{
				border: 1px solid grey;
				height: 60px;
				width: 60px;
				border-radius: 60px;
				padding-top: 10px;
				vertical-align: middle;
				&:hover{
					background: $backcolor-hover;
					color: white;
				}
			}
		}
	}
	a{@include btn-post-read;}
}

#cita{
	margin-bottom: 30px;
	.media{
		padding: 20px 0px;
	}
	.cita{
		@include parrafo(16px, black);
		padding: 0px 30px;
	}
	.media-footer{
		p{
			margin-left: 50px;
			color: $backcolor-hover;
			&:before{
				content: "";
				display: inline-block;
				height: 2px;
				width: 15px;
				background: $backcolor-hover;
				position: relative;
			    top: -3px;
    			margin: auto;
    			margin-right: 5px;
			}
		}
	}

}

#pag{
	div{
		margin-bottom: 30px;
	}
	span{
		display: inline-block;
		height: 40px;
		width: 40px;
		border: 1px solid #DADADA;
		margin: 0px 5px;
		padding-top: 10px;
		&:hover{
			background: $backcolor-hover;
			border: none;
		}
		a{
			color: #DADADA;
			&:hover{
				color: white;
				background-color: $backcolor-hover;
				text-decoration: none;
			}
		}
	}
}
// COLUMNA IZQUIERDA //

// COLUMNA DERECHA //
#column-der{
	h4{
		@include parrafo(12px, black);
		font-weight: bold;
		text-transform: uppercase;
	}

	.contadores{
	    padding: 3px 4px;
	    font-size: 12px;
	    line-height: 1;
	    color: $backcolor-hover;
	    background-color: transparent;
	    border-radius: 6px;
	    border-top: none;
	    border-bottom: none;
	    border-left: 3px solid #31aae2;
	    border-right: 3px solid #31aae2;
	    margin-left: 10px;
	}

	.categorias{
		ul{
			li{
				font-family: $fuente-principal;
				padding: 5px;
				&:hover{
					color: $backcolor-hover;
				}
				a{
					color: black;
					&:hover{
						color: black;
						text-decoration: none;
					}
				}
			}
		}
	}


	#social{
		margin-top: 30px;
		h4{
			@include parrafo(12px, black);
			text-transform: uppercase;
			margin-bottom: 15px;
		}	
		@mixin social($background-color){
			background-color: $background-color;
			height: 28px;
			width: 130px;
			margin: 10px 0px;
			padding: 5px 5px;
			color: white;	
		}
		i{
			@include parrafo(12px, white);
			margin-left: 10px;
		}

		.rss{
			@include social(#ffa801);
		}
		.fb{
			@include social(#3b59a1);
		}
		.dribbble{
			@include social(#ea367e);
		}
		.tw{
			@include social(#31aae2);
		}
		.pint{
			@include social(#6c9e32);
		}
		.plus{
			@include social(#dd4c39);
		}
	}

	#galeria-der{
		margin-top: 30px;
		.titulo-seccion{
			display: inline-block;
			vertical-align: middle;
		}
		.recent-work{
			@include parrafo(12px, black);
			font-weight: bold;
			text-transform: uppercase;
		}
		.botones-work{
			vertical-align: middle;
			display: inline-block;
			float: right;
			span{
				height: 30px;
				width: 30px;
				color: white;
				background: #dadada;
				padding: 8px 10px;
				&:hover{
					background-color: $backcolor-hover;
				}
			}
		}
		.img-der{
			width: 80px;
			height: 80px;
			background-color: #4a4a4a;
		    margin: 2px 2px;
		}
	}

	#recent-post{
		margin-top: 30px;
		h4{
			@include parrafo(12px, black);
			text-transform: uppercase;
			margin-bottom: 15px;
		}
		.reciente{
			background: transparent;
			border: none;
			border-bottom: 1px solid #DDD;
			border-radius: 0px;
		    box-shadow: 0 1px 0px rgba(0,0,0,.05);
			margin-bottom: 0px;
			.panel-body{
				padding: 10px 0px;
			}
		}
		.usuario{
			width: 50px;
			height: 50px;
			display: inline-block;
			background-color: #4a4a4a;
			vertical-align: middle;
		}
		.comentario-der{
			width: 79%;
			display: inline-block;
			vertical-align: middle;
			p{
				@include parrafo(14px, #d2d2d2);
				padding: 0px;
				margin-left: 10px;
				margin-bottom: 0px;
			}
			span{
				@include parrafo(10px, $backcolor-hover);
				margin-left: 10px;
				display: inline-block;
			}
		}
	}

	#quick-contact{
		margin-top: 30px;
		h4{
			@include parrafo(12px, black);
			text-transform: uppercase;
			margin-bottom: 15px;
		}	
		.elemento_form{
			border-radius: 0px;
			border: 1px solid #DADADA;
			margin: 10px 0px;
		}
		.btn-default{
			background-color: $backcolor-hover;
			border: none;
			color: white;
			font-family: $fuente-principal;
			text-transform: uppercase;
		}
	}

	#popular-tags{
		margin-top: 30px;
		h4{
			@include parrafo(12px, black);
			text-transform: uppercase;
		}	
		span{
		    background: #DADADA;
    		display: inline-block;
    		padding: 5px 10px;
    		margin: 3px 3px;
			a{
				color: white;
				text-decoration: none;
				&:hover{
					color: white;
					text-decoration: none;
				}
			}
			&:hover{
				background: $backcolor-hover;
			}
		}

	}
}
// COLUMNA DERECHA //