header {
	background-color: #f2efe4;
	.encabezado {
		padding: 4%;
		font-family: $fuente-principal;
		h1 { 
			text-transform: uppercase;
		}
		p{
			
			color:#abaaaa;
		}
	}
}

.datos {
	.imagen {
		background-color: #313131;
		margin: 4% 0%;
		height: 300px;
	}
	article {
		border: 1px solid #dadada;
		height: 117px;
		.caja-izquierda { 
			background-color: #f9f9f9;
			height: 115px;
			span {
			font-size: 30px;
			color: #dadada;
			top: 40px;
			}
			&:hover{
				background-color: #31aae2;
				span{
					color: white;
				}
			}
		}
		
		.caja-derecha {
			padding: 2% 4%;
			h3 {
				font-size: 15px;
				font-weight: bolder;
			}
			p {
				font-size: 12px;
				color:#abaaaa;
			}
		}
	}
	.medio {
		margin: 0% 12%;
	}
}

.formulario {
	font-family: $fuente-principal;
	padding: 4% 0%;
	form {
		padding: 3% 0%;
	}
	.form-control {
		background-color: #f9f9f9;
		border: none;
		border-radius: 0%;
	}
	button {
		text-transform: uppercase;
		color: white;
		font-size: 12px;
		font-weight: bolder;
		background-color: #31aae2;
		border: none;
		border-radius: 0%;
   		margin-right: 15px;
    	padding: 1% 2%;
	}
}

footer {
	background-color: #313131;
}